<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD4U0bxac1JXnrety_MB1ZgP3P6paZyEFY</string>
	<key>GCM_SENDER_ID</key>
	<string>56468692194</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.beyondspace.StepQuest</string>
	<key>PROJECT_ID</key>
	<string>stepquest-275ba</string>
	<key>STORAGE_BUCKET</key>
	<string>stepquest-275ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:56468692194:ios:359077fa07d36970f312bb</string>
</dict>
</plist>